h1{
  text-align:center;
  font-size:35px;
}
body{
  background-color:#dcdcdc;
}
h2{
  text-align:center;
}
#first{
  margin-bottom:125px;
}
#inline{
  display:inline;
  width:75%
}
#inline-img{
  display:inline;
  width:15%;
}
#caption{
  display:inline;
  width:7.5%;
}
